.seach-container {
  padding: 10px 140px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-form .search-input {
  border-radius: 35px;
  padding: 11px;
}
.search-form .btn-search {
  position: absolute;
  max-width: 10%;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 20px;
  margin: 0;
}
