.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container button {
  padding: 5px;
  margin: 0 5px;
  border: 1px solid tomato;
  background-color: transparent;
  color: black;
  cursor: pointer;
  max-width: 3%;
}

.pagination-container button.active {
  background-color: #fa1d86;
}
