.user-management {
    padding: 20px 20px;
  }
  .user-management table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1.5rem;
    text-align: left;
  }
  
  .user-management th,
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: black;
  }
  
  .user-management th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .user-management tbody tr:hover {
    background-color: #f1f1f1;
  }
  .user-management td button {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0); /* White text */
    margin-inline: 12px; /* Some padding */
    cursor: pointer;
    width: 30%;
    height: 30%;
  }
  
  .user-management h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
  }
  
  /* .user-management .pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .user-management .pagination button {
      padding: 10px;
      margin: 0 5px;
      border: 1px solid #ddd;
      background-color: #224bcf;
      color: white;
      cursor: pointer;
      max-width: 5%;
    }
    
    .user-management .pagination button.active {
      background-color: #fa1d86;
    } */
  