.question-body {
  margin-bottom: 20px;
  background-color: lightblue;
  padding: 10px 20px;
  text-align: center;
}
.question .label {
  font-size: 18px;
  margin-right: 10px;
}

.question-title {
  font-weight: 700;
  font-size: 20px;
}
.question-image-container p {
  font-size: 16px;
  margin: 5px 0;
}
.question-image-container img {
  width: 100%;
  height: 100%;
}

.question-tags {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 15px;
  font-size: 13px;
}
.label-checkanswer {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #ccc;
  margin-left: 20px;
}

.question-tags .level {
  padding: 5px 20px;
  border-radius: 20px;
  color: #fff;
}

.level-easy {
  background-color: green;
}

.level-normal {
  background-color: blue;
}

.level-hard {
  background-color: orange;
}
